.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("../../assets/images/1.jpg");
    background-size: cover;
    position: relative;
  
    .top {
      .wrapper_login {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 20vh;
          color: #fff;
          font-weight: bold;
          font-size:3.4rem;
          em {
            color: #61dafb;
  
          }
        }
        }
    }
  
    .container_login {
      width: 100%;
      height: 90%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      form {
        width: 300px;
        height: 300px;
        // padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
  
        input {
          height: 40px;
          border-radius: 5px;
          background-color: gray;
          color: white;
          padding-left: 10px;
  
          &::placeholder {
            color: lightgray;
          }
        }
  
        button {
          height: 40px;
          border-radius: 5px;
          background-color: #61dafb;
          color: white;
          border: none;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
        }
  
        // span {
        //   color: lightgray;
        //   b {
        //     color: white;
        //   }
        // }
      }
      .loginButton {
        background-color: #29b2d8;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
      .content {
        // padding: 10px 0px;    
        color: #fff;
        font-weight: 500;
      }

    }
  }