.wrapper {
  width: 100% !important;
  padding: 20vh 0 20vh 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #081229;
  text-transform: uppercase;
  height: 100% !important;
}

.wrapper h1 {
  font-size: 800;
  line-height: 1.4rem;
  font-weight: bold;
  margin: auto;
  color: #fff;
}
.wrapper h1 em {
  font-size: 1000;
  color: #61dafb;
}

.container {
  width: 100vh;
}

p {
  font-size: 200;
}

em {
  font-weight: bold;
}
/* **************************************************************** */
